################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/ScraperLeerComics/obj
/src/ScraperLeerComics/bin/Debug/netcoreapp3.1
